Общая характеристика (2-3 страницы).
  Актуальность
  Цели и задачи
  Научная новизна работы
  Практическая значимость работы
  Апробация работы (выступления на конференциях)
  Публикации (по теме диссертации)
  Структура и объем


Глава 1. Обзор литературы (история изучения вопроса)

Глава 2. Материалы и методы

Глава 3. Результаты

Глава 4. Обсуждение (необяз)

Выводы



По объему работа: 70-90 страниц, 50 источников.

Все диаграмы и иллюстрации оформляются как рисунку - Рис. 1 - нумерация сквозная. В тексте ссылка с маленькой буквы в суобках - (рис. 1)

Таблицы подписываются сверху, в тексте ссылк, нумерация сквозная. Можно выносить в приложения.
